html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 100px 1fr 1000px 100px;
  height: 2000px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "area area area area"
    "footer footer footer footer";
}

.header {
  background-color: #96ceb4;
  grid-area: header;
}

.main {
  background-color: #88d8b0;
  grid-area: main;
}

.area {
  background-color: #ff6f69;
  grid-area: area;
}

.footer {
  background-color: #ffcc5c;
  grid-area: footer;
}

@media (min-width: 1024px) {
  .container {
    grid-template-rows: 100px 500px 200px 100px;
    grid-template-columns: 500px 1fr;
    grid-template-areas:
      "header main main main"
      "header main main main"
      "header area area area"
      "header footer footer footer";
  }
}

@media (min-width: 1025px) {
  .container {
    grid-template-rows: 1fr 1fr 1fr 100px;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-areas:
      "header main main area"
      "header main main area"
      "header main area area"
      "header footer footer area";
  }
}
