/* index.html styling */
.header {
  border: 5px solid red;
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.main {
  border: 5px dotted orange;
  margin: 15px;
  padding: 10px 15px 10px 15px;
}

.footer {
  border: 5px dotted blue;
  margin: 15px;
  padding: 10px 15px 10px 15px;
}

li {
  display: inline;
}

h1 {
  color: black;
}

body {
  background-color: lightgrey;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

p {
  margin: 0 auto;
  width: auto;
}

/*.black-border {
  border: 5px solid black;
}*/

.white-background {
  background-color: white;
}
#green-background {
  background-color: green;
}
ul {
  color: white;
  font-size: 20px;
}
footer {
  color: black;
  font-style: italic;
  font-size: 12px;
}

/* about.html styling */
